extends layout

block content
  .row 
    .small-12.columns
      .row
        .small-4.columns
          img(src=friend.image).th
        .small-8.columns
          h1 #{friend.name}
      br
      .row
        .large-6.small-12.push-6.columns
          .row
            .small-6.columns
              h3 Top Drinks
            .small-6.columns
              .switch.round
                input#x(name='switch-x', type='radio', checked='checked')
                label(for='x', onclick='') Tonight
                input#x1(name='switch-x', type='radio')
                label(for='x1', onclick='') All Time
          if (topDrinks)
            .AllTime.hide
            for drink in topDrinks.reverse()
              .panel
                .row
                  .small-3.columns
                    img(src=drink.imageSmall)
                  .small-7.columns
                    h5= drink.name
                  .small-2.columns
                    h5 $#{drink.price}
            .Tonight
            for drink in topTonight.reverse()
              .panel
                .row
                  .small-3.columns
                    img(src=drink.imageSmall)
                  .small-7.columns
                    h5= drink.name
                  .small-2.columns
                    h5 $#{drink.price}

          if (!topDrinks)
            h3 Hey Man! Try mixing it up a little!
        .large-6.small-12.pull-6.columns
          h3 Recent Drinks
          if (friend._orders)
            for order in friend._orders.reverse()
              .panel
                .row
                  .small-3.columns
                    img(src=order.order.imageSmall)
                  .small-7.columns
                    h5= order.order.name
                  .small-2.columns
                    h5 $#{order.order.price}
          if (friend._orders.length == 0)
            h3 This guy needs to drink more :)

  script.
    $('#x1').click(function(){
      $(".AllTime").removeClass('hide');
      $(".Tonight").addClass('hide');
    })
    $('#x').click(function(){
      $(".Tonight").removeClass('hide');
      $(".AllTime").addClass('hide');
    })